.list {
  display: flex;
  flex-direction: column;
  height: 100%;

  .text-search {
    margin-bottom: 30px;
  }

  h2 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
  }

  .note-list {
    margin-bottom: 20px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li {
      cursor: pointer;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      transition: background-color 0.2s ease-in-out;
      width: 100%; /* make li full-width */

      &:hover {
        background-color: #ebebeb;
      }
    }
  }

  .title-container {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
