body {
  margin: 0;
}

input {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.App {
  display: flex;
  height: 100vh;

  .content {
    transition: margin-left 0.6s;
    margin-left: 80px;
    width: 100%;
    .homepage {
      height: 100vh;
    }
  }
}
