.introduction-page {
  font-family: "Poppins", sans-serif;
  color: #333;
  scroll-behavior: smooth;
  background-color: #ffffff;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .logo {
      margin: 5px;
      height: 40px; // Adjust this value according to your preferred size
      width: auto;
    }

    nav {
      a,
      .nav-button {
        transition: color 0.3s ease;
        margin-left: 1rem;
        text-decoration: none;
        color: #333;
        background: none;
        border: none;
        cursor: pointer;
      }

      a:hover,
      .nav-button:hover {
        color: #0056b3;
      }
    }
  }

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #ffffff;

    h2,
    p {
      text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.2);
    }
    .hero-content {
      h2 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 2rem;
      }
    }

    img {
      max-width: 40%;
    }
  }

  .features {
    padding: 2rem;
    background-color: #ffffff;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 2rem;
    }

    .feature {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 4rem;
      padding-bottom: 4rem;
      border-bottom: 1px solid #ebe0e0;

      &:last-child {
        border-bottom: none;
      }

      .feature-gif {
        width: 45%; // Adjust the width as needed
        height: auto; // Maintain the aspect ratio
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Add a shadow effect
        border-radius: 8px; // Add rounded corners
      }

      .feature-text {
        width: auto; // Adjust the width as needed

        p {
          font-size: 1.3rem;
          font-weight: 300;
          line-height: 1.5;
          margin-bottom: 0.5rem; // Add spacing between paragraphs
          text-align: right; // Justify text alignment
        }

        // Apply padding to even features when images are on the right side
        &:nth-child(even) {
          padding-left: 0;
          p {
            text-align: left;
          }
        }
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      @media (max-width: 800px) {
        flex-direction: column;
        text-align: center;

        .feature-gif {
          width: 60vw;
          max-width: 600px;
          margin-bottom: 1rem;
        }

        .feature-text {
          width: 100%;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  .try-it {
    background-color: #f8f9fa;
    padding: 2rem;

    h2 {
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 2rem;
    }

    .ProseMirror {
      min-height: 25vh;
      max-height: 25vh;
      overflow-y: auto;
    }
    .tiptap-editor {
      max-width: 800px;
      margin: 0 auto;
      background-color: #fff;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.5rem;
    font-weight: 300;

    p {
      margin: 0;
    }
  }
}
