// search-bar.scss

.search-input-container {
  position: relative;
  display: inline-block;
  width: 200%;
}

.search-input {
  padding-right: 2.5rem;
  width: 100%;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: #999;
}
