@import "~@yaireo/tagify/src/tagify.scss";

.tags-container {
  margin-bottom: 2rem;

  .tagify {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.1rem;
    font-size: 1rem;
    width: auto;
    transition: border-color 0.3s;

    &:focus-within {
      border-color: #007bff;
    }

    input {
      flex-grow: 1;
      border: none;
      outline: none;
    }
  }
}

.tags-look {
  background-color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 0.5rem;

  .tagify__dropdown__item {
    padding: 0.2rem;
    font-size: 1rem;
    cursor: pointer;

  }
}
