.document-item {
  min-width: 400px;
  margin-bottom: 1rem;

  .hover-effect:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    border-color: #333;
  }

  .card-link {
    text-decoration: none;
    color: inherit;
  }

  .card {
    min-height: 300px;
    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      height: 100%;

      .card-title {
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.5rem;
        input {
          width: 80%;
          font-size: 1.25rem;
          margin-bottom: 0.5rem;
          border: none;
          outline: none;
          color: #333;
          &:focus,
          &.editing {
            border: 1px solid #333;
          }
        }

        .document-date {
          font-size: 0.7em;
          color: #6c757d;
        }
      }

      .list__header {
        display: flex;
        gap: 0.5rem;

        button {
          display: flex;
          align-items: center;
          gap: 0.25rem;
        }

        .action-icon {
          font-size: 1rem; /* Change the value to your desired size */
        }

        label {
          display: flex;
          align-items: center;
          gap: 0.15rem;
          cursor: pointer;
          color: #6c757d;
        }

        .text-warning {
          color: #ffc107 !important;
        }
      }
    }
  }
}

.favorite-icon {
  padding: 0.25rem;
  margin-right: 0.45rem;
  font-size: 1.5rem; // Change the value to your desired size

  .bookmark-icon {
    position: absolute;
    top: -6px; // Adjust to your preference
    right: -29px; // Adjust to your preference
    cursor: pointer;

    svg {
      height: 50px;
      width: 50px;
    }
  }
}

.text-saturated-orange {
  color: #ffa500 !important; // Saturated orange color
}
