.document-item {
  min-width: 400px;
  margin-bottom: 1rem;

  .card {
    .card-body {
      display: flex;
      flex-direction: column;
      height: 100%;

      .card-title {
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.5rem;
        input {
          width: 80%;
          font-size: 1.25rem;
          margin-bottom: 0.5rem;
          border: none;
          outline: none;
          color: #333;
        }

        .document-date {
          font-size: 0.7em;
          color: #6c757d;
        }

        .document-description {
          font-size: 1rem;
          color: #333;
          font-style: italic;
          margin-bottom: 1rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .list__header {
        display: flex;
        gap: 0.5rem;

        button {
          display: flex;
          align-items: center;
          gap: 0.25rem;
        }

        label {
          display: flex;
          align-items: center;
          gap: 0.25rem;
          cursor: pointer;
          color: #6c757d;
        }

        .text-warning {
          color: #ffc107 !important;
        }
      }

      .tags-container {
        margin-top: 0.5rem;

        .badge {
          margin-right: 0.25rem;
          background-color: #6c757d;
        }
      }
    }
  }
}

.favorite-icon {
  padding: 0.5rem;
  :hover {
    .text-secondary {
      color: #333 !important;
      cursor: pointer;
    }
    .text-warning {
      color: #e68d44 !important;
      cursor: pointer;
    }
  }
}
