@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

// Color variables
$primary: #212121;
$secondary: #323232;
$accent: #0d7377;
$highlight: #14ffec;

body {
  font-family: "Poppins", sans-serif;
  color: $primary;
}

.list-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  margin-top: 1rem;
}

.left-sidebar {
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: sticky;
  height: 90vh;
  width: 20vw;
  min-width: 300px;
  flex-shrink: 0; // Prevent left-sidebar from shrinking
}

.right-side-list {
  background-color: #fff;
  flex-grow: 1;
  height: 90vh;
  overflow: hidden; // disable horizontal scrolling
  overflow-y: auto; // Enable vertical scrolling when the content exceeds the height
  padding: 10px;
}

.search-bar {
  width: 100%;
}
