.tags-container {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  max-width: 100%; /* Update this based on your document item width */
}

.badge {
  background-color: #6c757d;
  cursor: pointer;
  transition: 0.3s;
  position: relative; /* Add this */
}

// .badge:hover {
//   transform: scale(1.1);
//   opacity: 0.8;
//   z-index: 100; /* Add this */
// }

.tag-toggler-button {
  height: 1px;
}

.tag-tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #6c757d;
  padding: 0.25rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  z-index: 1;
  margin-left: 0.25rem;
}

