.tags-container {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;

  .badge {
    background-color: #6c757d;
    cursor: pointer;
    transition: 0.3s;
  }

  .badge:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
  .tag-toggler-button {
    height: 1px;
  }
}
