.bubble-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);

  button {
    border: none;
    background: none;
    color: #333;
    font-size: 1.1rem; /* Increase the font size */
    font-weight: 500;
    padding: 0.3rem 0.5rem; /* Increase padding */
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &:hover,
    &.is-active {
      color: #0079ff;
    }

    .button-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 3px;
    }

    .hint-shortcut {
      color: #888;
      font-size: 0.9rem;
      margin-left: 20px;
    }
  }
}
