.Editor-container {
  border: 5px solid #e2e8f0;
  border-radius: 0.375rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 1rem;
  line-height: 1.5;
  color: #4a5568;
}
