.header {
    padding: 0 3rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header__title {
    flex: 1;
  
    max-width: 115rem;
    display: grid;
    grid-template-columns: 3fr 2fr;
    row-gap: 3rem;
    align-content: center;
    justify-content: center;
  
    align-items: start;
    justify-items: start;
    h1 {
      font-size: 5.5rem;
      line-height: 1.35;
    }
    h4 {
      font-size: 2.4rem;
      font-weight: 500;
    }
    p {
      font-size: 18px;
    }
  }
  
  .header__img {
    width: 80%;
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
    transform: translateY(0rem);
    transform: translateX(4rem);
  }
  
  .highlight {
    position: relative;
  }
  
  .highlight::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: var(--gradient-primary);
  }
  