// InfoModal.scss
.modal {
  .modal-header {
    background-color: #f5f5f5;
    color: #333;

    .modal-title {
      font-weight: bold;
    }
  }

  .modal-body {
    div {
      p {
        margin-bottom: 10px;
      }
    }
    .edit-tags {
      font-size: 1.2em;
      font-weight: bold;
      color: #333;
    }
  }

  .modal-footer {
    background-color: #f5f5f5;
  }
}

.date-info {
  font-family: monospace;
  font-size: 0.9em;
  color: #525151;
}
