.tags-list-page {
  width: 100%;
  margin-top: 20px;
  padding-left: 80px;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .tags-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 10px;

    .search-bar {
      margin-right: 30px;
      max-width: 500px;
      flex-grow: 1;

      input {
        padding: 5px;
      }
    }

    .merge-tags-btn {
      margin-right: 15px;
    }
  }

  .tags-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .tags-group {
      flex: 1;
      min-width: 200px;
      margin-bottom: 20px;
      margin-right: 20px;

      h2 {
        font-size: 30px;
        margin-bottom: 10px;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          padding: 1px 12px;
          border-radius: 15px;
          background-color: #6c757d;
          color: #fff;
          cursor: pointer;
          margin: 5px;
          display: inline-block;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #353333;
            transform: scale(1.1);
            transition: 0.5s ease;
          }
        }
      }
    }
  }
}
